body,main, section, article, div, ul, li, a, h1, h2, h3, h4, p,video, img{
    margin: 0;
    padding: 0;
}

/*
font-family: 'Source Sans Pro', sans-serif;   -- body font 
font-family: 'Playfair Display', serif;     -- headings font
*/

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.4;

}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 3em;
    text-shadow: 1px 1px white;
    
}

h2{
    
    padding: 2em 0 1em 0;
    font-size: 2em;
    text-align: center;
}

h2 span{
    width: 150px;
    height: 5px;
    background-color: rgb(60,180,120);
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
}

h3{
    padding: .25em 0;
    font-size: 1.5em;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(60,180,120);
}

/*--------  common classes in diferent sections  -------------*/
.black{                     /*class that adds black background and white fonts to section*/
    color: white;
    background-color: rgb(15, 15, 15);

}

.contentWrap{
    width:90%;
    margin: 0 auto;
    padding: 1em 1em 10em 1em;
}

.triangleOne, .triangleTwo{
    width: 53vw;
    height: 90px;
    position: absolute;
    bottom: -4px;
    background-color: white;
}

.triangleOne{
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.triangleTwo{
    right: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.blackTriangle{
    background-color: rgb(15, 15, 15);
}

.anchors{
    position: absolute;
    top: -90px;
}

/*------------------  header  ---------------------*/
header{
    background-color: white;
    min-height: 90px;
    width: 100%;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(60,180,120);
}
/*logo*/
.logo{
    margin-left: 1em;
    max-width: 50%;   /*for smallest oldest devices*/
}

.logo p{
    font-size: 2em;
    font-weight: bold;
}

.logo span{
    color: white;
    background-color: rgb(60,180,120);
}
.logo:hover p{
    color: white;
    background-color: rgb(60,180,120);
}

.logo:hover span{
    color: rgb(60,180,120);
    background-color: white;
    border: 3px solid white;
}

/*hamburger*/
.menuIcons{
    font-size: 3em;
    padding-right: 10px;
}

.menuIcons:hover{
    cursor: pointer;
}

#hamburger{
    display: block;
}

#cross{
    display: none;
}

nav{
    display: none;                   /*this is for js*/
}

nav ul{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    width: 100%;
}

nav a:link {
    display: block;
    padding: 1em 0;
    font-weight: bold;
    background-color: white;
    text-align: center;
    font-size: 2em;
}



/*---------------  home  ----------------------------*/
#home{
    width: 99vw;
    min-height: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
}

.videoBlock{
    width:100%;
    height: 100vh;
    background: url(../images/irelandView.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#video{
    display: none;
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
   /* background-color: rgba(255,255,255,.2);*/
}

.banner p{
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px white;
    display: block;
    padding: .25em;
}

.banner :last-child{
    font-size: 1.5em;
    font-style: italic;
    color: rgb(60,180,120);
    padding: 3em 0 1em 0;
    text-shadow: 1px 1px black;
}





/*-----------------  course content  ---------------*/
#course_content{
    position: relative;
    text-align: center;
    
}

.detailsWrapper{
    display: flex;
    flex-direction: column;
}

#course_content p{
    padding: .5em 0;
}



/*----------  certification  -------------*/
#certification{
    position: relative;
}
#certification img{
    display: none;
}
.rewards{
    display: flex;
    flex-direction: column;
}


/*-----------  frequently asked questions  ----------*/
#faq{
    position: relative;
}

.questionWrap{
    padding: 1em 1em 2em 1em;
    border-top: 1px solid rgb(60,180,120);
    position: relative;
}

.lastQuestion{
    border-bottom: 1px solid rgb(60,180,120);
}

.questionWrap p{
    padding: 0 .5em;
}

.question{
    text-align: center;
    font-size: 1.25em;
}

.faqAnswer{
    display: none;
}

.fa-chevron-down, .fa-chevron-up{
    position: absolute;
    right:50%;
    bottom:0;
    font-size: 1.5em;
    
}

/*----------------  contact us  ----------------*/

#contact_us{
    position: relative;
}
/*contact form*/
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form legend{
    text-align: center;
}

.form div{
    width:80%;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.form input, .form textarea{
    width:50vw;
    box-sizing: border-box;
}

.form input{
    padding: 1em;
}

.form textarea{
    height: 5em;
}

.form label{
    vertical-align: auto;
}

.button{
    background-color: rgb(60,180,120);
    padding: .5em 2em;
    font-size: 1.5em;
    border: none;
    margin: .5em 0 1.5em 0;
}

.button:hover{
    cursor: pointer;
}


/*address and map*/
.directions{
    display: flex;
    flex-direction: column;
    
}

.address{
    padding: 1em;
}

.address a{
    padding-top: 1em;
    display: inline-block;
    width: 100%;
}

iframe{
    width:100%;
}

.selfApply{
    display: block;
    padding: 1em 0;
    width: 60%;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
}

/* usefull links and social*/
.linksAndSocial{
    display: flex;
    flex-direction: column;
}

.links, .social{
    padding: 1em;
}

.social a{
    color: rgb(54, 100, 228);
}

/*---------------  footer  ------------------------*/
footer{
    text-align: center;
    position: relative;
}

footer p{
    display: block;
    padding: 1em 0;
}

footer span{
    color: rgb(60,180,120);
}

/*testimonials*/
#testimonials{
    display: none;
}

.testimonialsWrapper{
    width: 90%;
    margin: 0 auto 2em;
    /*position: relative;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel{
    width: 600px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
}

.slider{
    display: flex;
    flex-direction: row;
    width:250%;
    transform: translate(-20%);  /*this is to be changed by js on click arrow*/
}

.testimonialsBox{
    flex-basis: 50%;
    padding: 1em;
}

.testimonialsBox p:last-child{
    font-style: italic;
}

/*slider arrows*/
.fa-chevron-left, .fa-chevron-right{
    color: rgb(60,180,120);
    font-size: 3em;
}

.testimonialAvatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(60,180,120);
    margin: 0 auto;
}


.avatarTwo, .avatarFour{
    background: url(../images/female_avatar.jpg) no-repeat;
}

.avatarOne, .avatarFive{
    background: url(../images/male_avatar.jpg) no-repeat;
}

.avatarThree{
    background: url(../images/artur_m.jpg) no-repeat;
}

.avatarOne, .avatarThree, .avatarFive, .avatarTwo, .avatarFour{
    background-size: contain;
}

.fa-star{
    color: rgb(60,180,120);
}

@media screen and (max-width: 428px) {              /*this is added to move green bar under heading 2 in faq section*/

    #faq h2 span{
        top: 160px;
    }

}


@media screen and (min-width: 768px) {


    /*home*/
    #video{
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*course details*/
    .detailsWrapper{
        flex-direction: row;
        justify-content: space-evenly;
    }

    /*certification*/
    #certification img{
        display: block;
        margin: 1em;
        width: 100%;
        height: auto;
    }

    .rewards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .rewards section{
        width:40%;
    }

    /*faq*/
    .fa-chevron-down, .fa-chevron-up{
        right: 0;
        bottom: 50%; 
    }

    /* contact us*/
    .form input, .form textarea{
        width:40vw;
        justify-content: space-between;
    }
    .directions{
        flex-direction: row;
        margin: 1em 0;
    }
    .address{
        width: 40%;
    }

    .linksAndSocial{
        flex-direction: row;
        justify-content: space-evenly;
    }
   
    #testimonials{
        display: block;
    }

    .testimonialsBox p{
        padding: .5em;
    }

}





@media screen and (min-width: 1000px) {

    
    body{
        font-size: 20px;
    }
    h1{
        font-size: 4em;
        margin-top: 100px;
    }

    h2 span{
        top: 140px;
    }

    /*navigation*/
    .menuIcons{
        display: none;
    }

    nav{
        display: block;
    }

    nav ul{
        width: auto;
        flex-direction: row;
        justify-content: flex-end;
        
    }
    
    nav li{
        width: auto;
    }

    nav a:link {
        font-size: 1em;
        padding: .25em 1em;
    }
    
    nav a:hover, nav a:focus{
        text-shadow: 0 0 black;
    }

    /*common elements in different sections*/
    .contentWrap{
        width:70%;
    }

    /*home*/
    .banner p{
        font-size: 2em;
    }

    .banner :last-child{
        font-size: 1.5em;
    }

    
    
    
    
    

    
}

@media screen and (min-width: 1200px) {

    /*carousel slider*/
    .carousel{
        width: 900px;
        
    }


}
